div.navbar-logo
    img(src="https://upload.wikimedia.org/wikipedia/en/7/76/Quest_Visual_logo.png")

ul.navbar-nav
    li(class=path === "home" ? "active" : "disabled")
        a(href="/") Hem
        
    li(class=path === "about" ? "active" : "disabled")
        a(href="/about") Om
        
    li(class=path === "presentation" ? "active" : "disabled")
        a(href="/presentation") Redovisningar
        
    li(class=path === "test" ? "active" : "disabled")
        a(href="#") Test
