extends layout

block header
  h1= title
  p En beskrivning av hur, var och när.


block content
    p Jag bygger denna sida som en del av ramverk2 kursen som jag läser på BTH. Kursen siktar på att jobba med ramverk i språket JS både på server och klientsida. Vi testar att göra unittest till js, använda websockets och annat.
    
    p Jag heter Christofer Jungberg och studerar webbprogrammering. Hittills har allt gått vägen och jag ska försöka ta mig hela vägen in i mål. Det har varit tufft stundtals och ibland väldigt roligt. 
    
    p Utöver skola så är jag intresserad av kaffe, dataspel och natur.
    
    img(src="img/me.jpg")
