extends layout

block header
  h1= title
  p Welcome to #{title}


block content
    h2 Javascript för hela slanten 
    h4 Nu kör vi!
    img(src="https://images.pexels.com/photos/247932/pexels-photo-247932.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb")
