doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    div.main-wrap
        div.navbar
            include includes/navbar.pug
        
        div.site-wrap
            div.flash        
                block flash
            
            main.main
                header.header
                    block header
                div.content
                    block content
                            
            footer.footer       
                include includes/footer.pug
                
                
