extends layout

block header
  h1= title
  p Kursen projekt


block content
    p Jag tänker mig att jag ska bygga ett online schack där spelare har möjlighet att träffas i en lobby och hoppa in i ett spel. Detta kommer bygga till stor del på websockets och jag tänker mig att man kan implementera databasen genom att spara spelarpoäng, användare och eventuallt oavslutade matcher.
    
    p Än så länge finns inget att visa upp men jag har startat ett repo där jag börjat skapa min "schackmotor" samt lagt till ett CI flöde.
    
    a(href="http://github.com/barelydead/chess-server")
        Mitt repo på github
    
    img(src="img/chess.jpg")
