@import url('https://fonts.googleapis.com/css?family=Noto+Serif:700|Quicksand');

body {
    font: 16px "Quicksand", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Noto Serif", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

p {
    line-height: 1.5;
}


.main-wrap {
    width: 1200px;
    margin: auto;
}

div,
main,
header {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}


/* <!---------------- Navbar --------------> */
.navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
}


.navbar-logo {
    width: 45px;
    display: flex;
    align-items: center;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    align-items: center;
    width: 100%;
}

.navbar-nav li a {
    font-size: 1.2em;
    margin: 0 20px;
    padding: 12px;
    color: #111;
    text-decoration: none;
}

.active {
    text-decoration: underline;
}



/* <!---------------- Main --------------> */

.header {
    padding: 40px;
    text-align: center;
    background: #d4ffcc;
}

.header h1 {
    font-size: 5em;
    font-weight: bold;
    margin: 0;
    font-variant-caps: all-small-caps;
}

.content {
    margin: auto;
    min-height: 400px;
    width: 60%;
}


/* <!---------------- Redovisning --------------> */

.top-menu {
    height: 40px;
    border-bottom: 2px solid #d4ffcc;
}

.top-menu ul {
    padding-left: 0;
    list-style: none;
}

.top-menu ul a {
    font-size: 1.3em;
    float: left;
    padding-right: 15px;
}


/* <!---------------- footer --------------> */

.footer {
    height: 45px;
    background: #fafafa;
    display: flex;
    justify-content: center;
}



/* <!---------------- Chat --------------> */

.chat {
    width: 100%;
    margin-top: 20px;
}

#chat-window {
    height: 250px;
    background-color: #eee;
    border: 1px soild;
    padding: 10px;
    width: 80%;
}


.chat-wrap {
    display: none;
}

.user-wrap {
    text-align: center;
}

.user-input {
    width: 250px;
    height: 2em;
    font-size: 20px;
}

.user-btn {
    margin-top: 10px;
    width: 259px;
    height: 2em;
    font-size: 20px;
    background: #eeaf4b;
    border: none;
}

.chat {
    float: left;
}

#chat-members {
    width: 17%;
    height: 250px;
    background-color: #eee;
    border-left: 1px solid #000;
    border: 1px soild;
    padding: 10px;
    margin-left: 10px;
}


/* DATABASE STUFF */
table {
    width: 100%;
}

th,
td {
    padding: 20px;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}


input {
    width: 100%;
    height: 2em;
    margin-bottom: 10px;
}
